{% extends 'gestion/base.html' %}

{% block content %}
<h2>Inventario de Materiales</h2>
<table class="table table-striped table-hover mt-3">
    <thead class="table-dark">
        <tr>
            <th>Descripción</th>
            <th>Largo</th>
            <th>Ancho</th>
            <th>Stock Actual</th>
            <th>Acciones</th> </tr>
        </tr>
    </thead>
    <tbody>
        {% for material in materiales %}
        <tr>
            <td>{{ material.descripcion }}</td>
            <td>{{ material.largo }} cm</td>
            <td>{{ material.ancho }} cm</td>
            <td>{{ material.stock_actual }}</td>
            <td>
                <a href="{% url 'eliminar_material' material.id_material %}" 
                   class="btn btn-danger btn-sm" 
                   onclick="return confirm('¿Seguro que quieres borrar este material?')">
                   Eliminar
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}